.container{
    padding-top: 3rem;
}
.row{
    margin-bottom: 1.5rem;
  
}
form {
    text-align: center;
}
btn:disabled:hover{
    background-color: #0096AA;
    border-color: #0096AA;
    margin-left: 2rem;
}
.btn:hover{
    background-color: #00796B;
    border-color: #00796B;
}
.form-control:focus{
    border-color: #0096AA;
}
i {
    padding-right: .5rem;
}

h5 {
    color: #CCC;
    text-align: center;
    margin-top: 3rem;
}